<!--Start Wrapper -->

<div class="breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="">Home <i class="fa fa-angle-right"></i> Products Syncing </p>
      </div>
    </div>
  </div>
</div>


<section class="myaccount">
  <div class="container ">
    <div class="info_wrapper">
      <app-vendor-sidebar-menu></app-vendor-sidebar-menu>
      <div class="rightbar">
        <div class="heading">
          <h2>Ad Banner Request</h2>
        </div>
        <p>Do you want to promote your website? Do it  now! Publish your banner on our website.</p>
        <div class="row">
          <div class="col-md-5 col-sm-6">
            <div class="form-group">
              <label>Select Banner Type</label>
              <select class="form-control csinput" >
                <option>Header</option>
                <option>Left Sidebar</option>
                <option>Right Sidebar</option>
                <option>Footer</option>
              </select>
            </div>
            <div class="form-group">
              <label>Select Page By Category</label>
              <div class="allcategory">
                <ul>
                  <li>
                    <label>
                      <input type="checkbox" alt="" >
                      Home Page </label>
                  </li>
                  <li>
                    <label>
                      <input type="checkbox" alt="" >
                      Lubricant Oil </label>
                  </li>
                  <li>
                    <label>
                      <input type="checkbox" alt="" >
                      WindShield </label>
                  </li>
                  <li>
                    <label>
                      <input type="checkbox" alt="" >
                      Pratt Engine </label>
                  </li>
                  <li>
                    <label>
                      <input type="checkbox" alt="" >
                      Bulb </label>
                  </li>
                  <li>
                    <label>
                      <input type="checkbox" alt="" >
                      Pratt Engine </label>
                  </li>
                  <li>
                    <label>
                      <input type="checkbox" alt="" >
                      Bulb </label>
                  </li>
                  <li>
                    <label>
                      <input type="checkbox" alt="" >
                      WindShield </label>
                  </li>
                  <li>
                    <label>
                      <input type="checkbox" alt="" >
                      Pratt Engine </label>
                  </li>
                </ul>
              </div>
            </div>
          </div>
            
          <div class="col-md-7 col-sm-6">
              
            <div class="selected">
              <div class="form-group">
                <label>Selected Category</label>
                <input class="form-control csinput" type="text" value="Lubricant Oil" disabled >
              </div>
            </div>
              
            <div class="addform">
                
              <div class="row">
                  
                <div class="col-md-6">
                  <div class="form-group">
                    <input class="form-control" type="text" placeholder="Start Date" >
                    <i class="date_icon"></i> </div>
                </div>
                  
                <div class="col-md-6">
                  <div class="form-group">
                    <input class="form-control" type="text" placeholder="Start Time" >
                    <i class="date_icon"></i> </div>
                </div>
                  
                <div class="col-md-6">
                  <div class="form-group">
                    <input class="form-control" type="text" placeholder="End Date" >
                    <i class="date_icon"></i> </div>
                </div>
                  
                <div class="col-md-6">
                  <div class="form-group">
                    <input class="form-control" type="text" placeholder="End Time" >
                    <i class="date_icon"></i> </div>
                </div>
                  
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Add URL</label>
                    <input class="form-control" type="text" >
                  </div>
                </div>
                  
              </div>
                
            </div>
          </div>
        </div>
        
        <!-- Advertisment Perview -->
        <div class="form-group">
          <label>Banner Placemnet</label>
        </div>
        <div class="preview">
          <div class="leftsidebar"> </div>
          <div class="center">
            <div class="header active"> </div>
            <div class="openweb"> <img src="../../../assets/images/demo.png" alt="" > </div>
          </div>
          <div class="rightsidebar"> </div>
        </div>
        <!-- Advertisment Perview -->
        
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label>Total Price</label>
              <div class="input-group"> <span class="input-group-addon">$</span>
                <input type="text" class="form-control">
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label class="agree">
                <input class="" type="checkbox" >
                I agree with all <a href="#">Terms & Conditions</a> </label>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <button class="proceed" type="button" >Proceed for Payment</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!--End Wrapper --> 




