<div class="breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="">Home <i class="fa fa-angle-right"></i> Page Not Found</p>
      </div>
    </div>
  </div>
</div>

<!--Start Wrapper -->

<section class="wrapper inner">
  <div class="container pad20">
    <div class="row">
      <div class="col-md-12">
        <div class="heading">
          <h2> Page Not Found</h2>
        </div>
      </div>

      <div class="col-md-12">
        <!-- start slipsum code -->

        <p>Page Not found.</p>

      </div>

    </div>
  </div>

</section>

<!--End Wrapper -->