<!--Start Footer -->
<footer>
  <div class="container">


    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-6 tofw">
        <h2>HELP</h2>
        <ul>
          <li><a href="#">Payments</a></li>
          <li><a href="#">Saved Cards</a></li>
          <li><a href="#">Shipping</a></li>
          <li><a [routerLink]="['/faq']">faq</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 tofw">
        <h2>QUICK LINK </h2>
        <ul>
          <li><a [routerLink]="['/contact-us']">Contact Us </a></li>
          <li><a [routerLink]="['/aboutus']">About Us</a></li>
          <li><a href="#">Career</a></li>
          <li><a href="#">Press</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 tofw">
        <h2>POLICIES</h2>
        <ul>
          <li><a href="#">Terms of use</a></li>
          <li><a href="#">Security</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Infrigment</a></li>
        </ul>
      </div>


      <div class="col-md-3 col-sm-3 col-xs-6 tofw">
        <h2 class="hideinwebtab">CONTACT US</h2>
        <div class="det">
          <div class="icon_info"><img src="assets/images/map.png" alt=""></div>
          <div class="detail">
            <p>2647 Gateway Road,<br> Suite 105-513<br> Carlsbad CA 92009</p>
          </div>
        </div>


        <div class="det ">
          <div class="icon_info"><img src="assets/images/email.png" alt=""></div>
          <div class="detail">
            <p>sales@eSpares.com</p>
          </div>
        </div>

        <div class="det ">
          <div class="icon_info"><img src="assets/images/phone.png" alt=""></div>
          <div class="detail">
            <p>+1 . 800 . 234 . 68 . 09</p>
          </div>
        </div>

      </div>
    </div>

  </div>
</footer>
<!--End Footer -->

<!--Start Copyright -->
<section class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <p class="text-left">Keep in touch
          <a href="{{facebook}}" target="new"><i class="fa  fa-facebook" aria-hidden="true"></i></a>
          <a href="{{twiter}}" target="new"><i class="fa fa-twitter " aria-hidden="true"></i></a>
          <a href="{{google_plus}}" target="new"><i class="fa  fa-google-plus" aria-hidden="true"></i></a>
        </p>
      </div>
      <div class="col-md-6 col-sm-6">
        <p class="text-right">All rights are reserved | © 2017 eSpares.com </p>
      </div>

    </div>
  </div>
</section>
<!--End Copyright -->