<!--Start Wrapper -->

<div class="breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="">Home <i class="fa fa-angle-right"></i> Open Case</p>
      </div>
    </div>
  </div>
</div>
<section class="myaccount">
  <div class="container ">
    <div class="info_wrapper"> 
      <app-user-sidebar-menu></app-user-sidebar-menu>
      
     <div class="rightbar">
        <div class="heading">
          <h2>Open Case</h2>
        </div>
        <p class="sub_heading">Fill out the form below and we'll get one of our friendly eSpares consultants to get back to you
          regarding your case.</p>
          
          
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <div class="form-group">
              <label>First Name</label>
              <input class="form-control" type="text" >
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="form-group">
              <label>Last Name</label>
              <input class="form-control" type="text" >
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="form-group">
              <label>Email Name</label>
              <input class="form-control" type="text" >
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="form-group">
              <label>Phone Number</label>
              <input class="form-control" type="text" >
            </div>
          </div>
        </div>
          
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <div class="form-group">
              <label>Subject</label>
              <select class="form-control" >
                <option>Select Subject</option>
                <option>Broken Part Received</option>
              </select>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="form-group">
              <label>Company Name</label>
              <input class="form-control" type="text" >
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="form-group">
              <label>Order Number</label>
              <input class="form-control" type="text" >
            </div>
          </div>
        </div>
          
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="form-group">
              <label>Upload any documents or images for your case</label>
              <div class="upload"> <span>Upload</span>
                <input class="" type="file" value="" >
              </div>
            </div>
          </div>
        </div>
          
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="form-group">
              <label>Summary of your case</label>
                <textarea class="form-control indetail" ></textarea>
            </div>
          </div>
        </div>  
          
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="form-group">
              <label>Please explain how we can help in more detail</label>
                <textarea class="form-control indetail" ></textarea>
            </div>
          </div>
        </div> 
         
      <div class="row">   
         <div class="col-md-4 col-sm-6">
              <div class="form-group">
                <input class="submit_case" value="Submit Case" type="button">
              </div>
            </div>
      </div>  
         
         
   </div>
        
    </div>
  </div>
</section>
<!--End Wrapper --> 