<div class="carousel-class" data-slick='{"slidesToShow": 4, "slidesToScroll": 4}' style="float: left; width:100%;" >
 
  <div class="product">
    <div class="proimg"> </div>
    <p class="name">BLUE PNEUMATIC POWER SPIN RIVET NUT TOOL BP-350QC </p>
    <p class="rating"><span>4.3</span> 19 Ratings & 8 Reviews </p>
    <p class="price">$150.00</p>
  </div>
    
  <div class="product">
    <div class="proimg"> </div>
    <p class="name">BLUE PNEUMATIC POWER SPIN RIVET NUT TOOL BP-350QC </p>
    <p class="rating"><span>4.3</span> 19 Ratings & 8 Reviews </p>
    <p class="price">$150.00</p>
  </div>
    
  <div class="product">
    <div class="proimg"> </div>
    <p class="name">BLUE PNEUMATIC POWER SPIN RIVET NUT TOOL BP-350QC </p>
    <p class="rating"><span>4.3</span> 19 Ratings & 8 Reviews </p>
    <p class="price">$150.00</p>
  </div>
    
  <div class="product">
    <div class="proimg"> </div>
    <p class="name">BLUE PNEUMATIC POWER SPIN RIVET NUT TOOL BP-350QC </p>
    <p class="rating"><span>4.3</span> 19 Ratings & 8 Reviews </p>
    <p class="price">$150.00</p>
  </div>
    
  <div class="product">
    <div class="proimg"> </div>
    <p class="name">BLUE PNEUMATIC POWER SPIN RIVET NUT TOOL BP-350QC </p>
    <p class="rating"><span>4.3</span> 19 Ratings & 8 Reviews </p>
    <p class="price">$150.00</p>
  </div>
    
  <div class="product">
    <div class="proimg"> </div>
    <p class="name">BLUE PNEUMATIC POWER SPIN RIVET NUT TOOL BP-350QC </p>
    <p class="rating"><span>4.3</span> 19 Ratings & 8 Reviews </p>
    <p class="price">$150.00</p>
  </div>
    
</div>
