<!--Start Wrapper -->

<div class="breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="">Home <i class="fa fa-angle-right"></i> Bids Summary</p>
      </div>
    </div>
  </div>
</div>
<section class="myaccount">
  <div class="container ">
    <div class="info_wrapper">
      <app-vendor-sidebar-menu></app-vendor-sidebar-menu>
      <div class="rightbar">
        <div class="heading">
          <h2>Bids </h2>
          <span class="moveback" [routerLink]="['/vendor-bid']" > <i class="fa  fa-arrow-left"></i> Back</span> </div>

        <div class="clearfix"></div>
          
        <h2 class="proname">AMP® BATTERY TERMINAL</h2>
          
        <div class="bid_now_holder">
          <div class="current_price">
            <div class="wauto asking_price">
              <label>Asking Price</label>
              <h4>$5245.00</h4>
            </div>
            <div class="wauto highestbid">
              <label>Highest Bid</label>
              <h4>$5000.00</h4>
            </div>
            <div class="wauto timeleft">
              <label>Bid Close In</label>
              <h4>10d 15h 13min</h4>
            </div>
            <div class="btnhd">
              <button class="bid_now" type="button"> 
              <!--img alt="" src="../../../assets/images/bid.png"--> Edit Details </button>
            </div>
          </div>
        </div>
        <div  class="all_bids">
          <div class="table-responsive">
            <table class="table table-striped table-hover outerb">
              <tr>
                <th>Name</th>
                <th>Bids</th>
                <th class="acttion">Action</th>
              </tr>
              <!-- *ngFor="let item of vendorBid; let i = index" -->
              <tr>
                <td>Bidder Name</td>
                <td>$1050.00</td>
                <td  >
                  <button> <img src="../../../assets/images/accept.png" alt=""> Accept </button>
                  <button> <img src="../../../assets/images/counter.png" alt=""> Counter </button>
                  <button> <img src="../../../assets/images/reject.png" alt=""> Reject </button>
                </td>
              </tr>
                
                <tr>
                <td>Bidder Name</td>
                <td>$1050.00</td>
                <td  >
                  <button> <img src="../../../assets/images/accept.png" alt=""> Accept </button>
                  <button> <img src="../../../assets/images/counter.png" alt=""> Counter </button>
                  <button> <img src="../../../assets/images/reject.png" alt=""> Reject </button>
                </td>
              </tr>
                
                <tr>
                <td>Bidder Name</td>
                <td>$1050.00</td>
                <td  >
                  <button> <img src="../../../assets/images/accept.png" alt=""> Accept </button>
                  <button> <img src="../../../assets/images/counter.png" alt=""> Counter </button>
                  <button> <img src="../../../assets/images/reject.png" alt=""> Reject </button>
                </td>
              </tr>
                
                <tr>
                <td>Bidder Name</td>
                <td>$1050.00</td>
                <td  >
                  <button> <img src="../../../assets/images/accept.png" alt=""> Accept </button>
                  <button> <img src="../../../assets/images/counter.png" alt=""> Counter </button>
                  <button> <img src="../../../assets/images/reject.png" alt=""> Reject </button>
                </td>
              </tr>
                
                <tr>
                <td>Bidder Name</td>
                <td>$1050.00</td>
                <td  >
                  <button> <img src="../../../assets/images/accept.png" alt=""> Accept </button>
                  <button> <img src="../../../assets/images/counter.png" alt=""> Counter </button>
                  <button> <img src="../../../assets/images/reject.png" alt=""> Reject </button>
                </td>
              </tr>
                
                <tr>
                <td>Bidder Name</td>
                <td>$1050.00</td>
                <td  >
                  <button> <img src="../../../assets/images/accept.png" alt=""> Accept </button>
                  <button> <img src="../../../assets/images/counter.png" alt=""> Counter </button>
                  <button> <img src="../../../assets/images/reject.png" alt=""> Reject </button>
                </td>
              </tr>
                
                <tr>
                <td>Bidder Name</td>
                <td>$1050.00</td>
                <td  >
                  <button> <img src="../../../assets/images/accept.png" alt=""> Accept </button>
                  <button> <img src="../../../assets/images/counter.png" alt=""> Counter </button>
                  <button> <img src="../../../assets/images/reject.png" alt=""> Reject </button>
                </td>
              </tr>
                
                
                
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End Wrapper --> 