<a (click)="menuOpen()" [ngClass]="{active: !activeMenu}" href="javascript:void(0);" class="menu_icon"> <img class="mn_icon" src="../assets/images/menu_icon.png" alt="" > <img class="cl_icon" src="../assets/images/close.png" alt="" > </a>
<div class="sidebar" [ngClass]="{active: !activeMenu}">

    <div class="profile_pic">
        <img src="../../../assets/images/aviation_user.jpg" alt="">

        <div class="uploader">

            <input type="file" (change)="fileChangeEvent($event)" (click)="upload()">
            <span><i class="fa  fa-upload "></i> Upload</span>
        </div>

    </div>

    <h1>Issad Rebrab</h1>
    <span class="logout" (click)="logout()">Logout</span>

    <ul>
        <li><a [routerLink]="['/myprofile']" routerLinkActive="active"><i class="fa  fa-address-book"></i> Account Detail </a></li>
        <li><a [routerLink]="['/myorders']" routerLinkActive="active"><i class="fa  fa-plane"></i> My Orders <span class="total">4</span></a></li>
        <li><a [routerLink]="['/user-current-bid']" routerLinkActive="active"><i class="fa  fa-gavel"></i> My Current Bid </a></li>
        <li><a [routerLink]="['/wishlist']" routerLinkActive="active"><i class="fa  fa-heart "></i> My Wish List </a></li>
        <li><a [routerLink]="['/opencase']" routerLinkActive="active"><i class="fa  fa-flag-o "></i> Open Case </a></li>
        <li><a [routerLink]="['/view-case']" routerLinkActive="active"><i class="fa  fa-bullhorn "></i> View Case </a></li>
    </ul>

</div>