<div class="row">
  <div class="col-md-12 col-sm-12">
    <label >Enter Part Number</label>
      
    <div class="form-group">
      <input type="text" required class="form-control csinput" placeholder="Enter part number"  >
    </div>
    <div class="form-group">
      <input type="text" required class="form-control csinput" placeholder="Enter part number" >
    </div>
    <div class="form-group">
      <input type="text" required class="form-control csinput" placeholder="Enter part number" >
    </div>
      
      
     <div class="form-group" *ngFor="let a of fakeArray; let index = index">
      <input type="text" required class="form-control csinput" placeholder="Enter part number" >
      <span class="del" (click)="deleteRow(index)"  ><img src="../../../assets/images/del-in.png" alt="" ></span>
    </div>
      
      
    <p class="add_part_number" (click)="addPart()" ><img src="../../../assets/images/add.png" alt="" > Add Part Number</p>
      <div class="clearfix"></div>
    <div class="or">OR</div>
    <button class="upload">Upload File</button>
    <p class="click" >Click here to download <a href="javascript:void(0);">.xls</a> list import template.</p>
    <button class="search">Search</button>
  </div>
</div>
