<!--Start Wrapper -->

<div class="breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="">Home <i class="fa fa-angle-right"></i> Offers List</p>
      </div>
    </div>
  </div>
</div>

<section class="myaccount">
  <div class="container ">
    <div class="info_wrapper">
        
      <app-vendor-sidebar-menu></app-vendor-sidebar-menu>
        
      <div class="rightbar">
      
        <div class="heading">
          <h2>Offers List</h2>
             <span class="createOffer" [routerLink]="['/create-offer']" > Create Offer</span>
        </div>
          

          
          <div class="clearfix"></div>
        <div class="table-responsive">
            
            <table class="table table-striped table-hover outerb">
          <tr>
            <th>Offer Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Status</th>
          </tr>
 
          <tr *ngFor="let item of offerList; let i = index"  >
            <td>{{item.offerName}}</td>
            <td>{{item.startDate}}</td>
            <td>{{item.endDate}}</td>           
            <td>{{item.status}}</td>
          </tr>

        </table>
              
        </div>
          
          
          
        <nav aria-label="Page navigation"class="pull-right" >
          <ul class="pagination">
            <li> <a href="#" aria-label="Previous"> <span aria-hidden="true">&laquo;</span> </a> </li>
            <li class="active" ><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li> <a href="#" aria-label="Next"> <span aria-hidden="true">&raquo;</span> </a> </li>
          </ul>
        </nav>
          
      </div>
    </div>
  </div>
</section>
<!--End Wrapper --> 